:root {
    --primary-background-color: rgba(141, 0, 0);
    --body-background-color: rgb(199, 133, 0, 10%);
    --main-background-color: rgb(199, 133, 0, 70%);
    --primary-font-color: #FFFF;
    --secondary-font-color: #0000;

    --primary-font-family: "Crimson Text", serif;
    --secondary-font-family: "Montserrat", sans-serif;
}

/* *{
    border:solid 1px black;
} */
body {
    box-sizing: border-box;
    background-color: var(--body-background-color);
    margin: 0px;
    height: 100vh;
}


main {
    background-color: var(--main-background-color);
    border-radius: 10px;
    margin: 2rem 2rem 2rem 2rem;
    height: 70%;
    display: flex;
    flex-direction: column;
}

/* main  */
div {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
}

h2 {
    color: var(--primary-font-color);
    font-family: var(--primary-font-family);
    text-align: center;
    padding-top: 2rem;

}

#logo {
    width: 10rem;
    border-radius: 10px;
}

p {
    font-family: 'whisper', cursive;
    text-align: center;
    font-size: 1.8rem;
    color: white;
    width: 40%;
    height: fit-content;
    margin: 0;

}

.score {
    display: none;
    position: fixed;
    top: 400px;
    height: 300px;
    width: 300px;
    border: 3px solid black;
    background-color: #C88500;
    /* color: white; */
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 20px white;
    font-family: "Crimson Text", serif;
    font-weight: 900;
    font-size: 40px;
    letter-spacing: 6px;
}