* {
    margin: 0rem;
}

main {
    background-color: #faf3e6;

}

section {
    margin-left: 12rem;
    margin-right: 12rem;
}

h2 {
    text-shadow: 25%;
    font-size: 35px;
    font-weight: 1000;
    margin-left: 2rem;
}

.filtre {
    background-color: #8d0008;
    color: #FFFFFF;
    width: 15rem;
    height: 5rem;
    -webkit-border-radius: 40px 40px 40px 40px;
    -moz-border-radius: 40px 40px 40px 40px;
    border-radius: 40px 40px 40px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 25px;
    font-weight: 550;
}

.filtre p {
    padding-left: 5%;
}

.filtreplus {
    background-color: #8d0008;
    color: #FFFFFF;
    width: 22rem;
    height: 5rem;
    -webkit-border-radius: 40px 40px 40px 40px;
    -moz-border-radius: 40px 40px 40px 40px;
    border-radius: 40px 40px 40px 40px;
    display: flex;
    justify-content: space-around;
    font-family: 'montserrat';
    font-size: 25px;
    font-weight: 550;
}

.filtreplus p {
    padding-right: 15%;
}


ul.ul-btn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px 75px;
    padding: 0rem;
    justify-items: center;
    max-width: 1920px;
    gap: 50px;
    margin: 25px 25px 25px 25px;
}

.plus {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 25px 100px;
    gap: 20px;
    grid-column-gap: 2px;
    margin-left: 10%;
    margin-right: 10%;

}

div {
    display: flex;
    align-items: center;

}

li {
    list-style: none;
    margin: 1rem 1rem 1rem 0rem;
}

.btn-img {
    width: 4rem;
}

.imgplus div {
    width: 3rem;
}