
.wrapper {

    height: 650px;
    width: 1399px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    z-index: 1;
}

.button-wrapper {
    width:99vw;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 78rem;
}

/* Positionnez le bouton de gauche */
button[data-action='slideLeft'] {
    background: none;
    border: none;
}

button[data-action='slideRight'] {
    background: none;
    border: none;
}

.carousel {

    height: 538px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    position: absolute;
    transition: all 1s ease;
}
.card-carousel {
    width: 410px;
    padding: 20px;
}

.img-carousel{
    width: 100%;
    box-shadow: 3px 2px 10px black;
    min-height: 100%;
}


.titre-restaurant{
    position: relative;
    text-align: center;
    background-color: #a52a2a91;
    top: 79px;
    height: 47px;
    color: white;
    padding-top: 32px;
}

.fleche{
    max-width: 100px;
}