:root {
    --primary-background-color: rgba(141, 0, 0);
    --body-background-color: rgb(199, 133, 0, 10%);
    --main-background-color: rgb(199, 133, 0, 70%);
    --primary-font-color: #FFFF;
    --secondary-font-color: #0000;

    --primary-font-family: "Crimson Text", serif;
    --secondary-font-family: "Montserrat", sans-serif;
}

/* * {
    border: solid 1px black;
} */

body {
    box-sizing: border-box;
    background-color: var(--body-background-color);
    margin: 0px;
    height: 100vh;
}


main {
    background-color: var(--main-background-color);
    border-radius: 10px;
    margin: 2rem 2rem 2rem 2rem;
    height: 75.5%;
    display: flex;
    flex-direction: column;
}

/* main  */
div {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    padding: 2rem;
    justify-content: center;
}

h2 {
    color: var(--primary-font-color);
    font-family: var(--primary-font-family);
    text-align: center;
    padding-top: 2rem;
    font-size: 3rem;

}

#logo {
    width: 15rem;
    height: 15rem;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
    gap: 1.5rem;
    padding: 0;
}

li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;

}

label {
    color: var(--primary-font-color);
    font-family: var(--secondary-font-family);
    font-size: 2.5rem;
    font-weight: bold;
}


#message,
#mail {
    border-radius: 15px;
    width: 100%;
    min-height: 50%;
}


#message {
    height: 100px
}

#mail>input {
    height: 2rem;
}

input {
    border: none;
    font-size: 40px;
}

form>button {
    background-color: var(--primary-background-color);
    color: var(--primary-font-color);
    font-family: var(--primary-font-family);
    border: none;
    margin: 1rem;
    margin-left: 40rem;
    padding: 0 2rem;
    height: 4rem;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: bold;
}

form>button:hover {
    background-color: black;
}