:root {
    --primary-background-color: rgba(141, 0, 0);
    --body-background-color: rgb(199, 133, 0, 10%);
    --main-background-color: rgb(199, 133, 0, 70%);
    --primary-font-color: #FFFF;
    --secondary-font-color: #0000;

    --primary-font-family: "Crimson Text", serif;
    --secondary-font-family: "Montserrat", sans-serif;
}

.menu {
    background-color: var(--primary-font-color);
    width: 100vw;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 2;
}

h1, h1>a {
    margin: 0;
    text-align: center;
    width: 40%;
    font-size: 5rem;
    font-style: normal;
    color:black;
    font-family:'Crimson';
    text-decoration: none;
    
}

.link_menu {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
    padding: 0;
    margin-right: 10px;
}

#connexion,
#inscription {
    list-style: none;
    padding: 0.5rem 1rem;
    border-radius: 1.5rem;
    font-weight: bold;
    font-size: 1.6rem;
    height: 2rem;

}


#connexion,
#connexion>a {
    display: flex;
    flex-direction: row;
    background: #8D0000;
    color: #FFFF;
    text-decoration: none;
}

#inscription,
#inscription>a {
    display: flex;
    flex-direction: row;
    background: black;
    color: #FFFF;
    text-decoration: none;

}

#connexion:hover,
#connexion:hover > a {
    background: var(--main-background-color);
}

#inscription:hover, 
#inscription:hover>a{
    background: var(--main-background-color);
}