*{margin:0;padding:0;}
body{
    background:#faf3e6;
}
h1{
    position:fixed;
    left:4em;
    top:0;
    z-index: 2;
    height:76px;
    line-height: 76px;
}
ul>li{
    list-style: none;
}
.backGround{
 position: relative;
 top:76px;
    width:100%;
    height:700px;
    background-image:url("../assets/background/coquilles-pates-italiennes-aux-champignons-courgettes-sauce-tomate.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
}
.backGround>img{
    position:relative;
    top:30%;
    left:10%;
width:20%;
height:auto;
}
.menu{
    background:#FFF;
    width:100%;
    height:76px;
    position:fixed;
    top:0;
    z-index: 1;
}
.link_menu{
    position:fixed;
    right:2em;
    top:0;
    z-index: 1;
    display: flex;
    gap: 2em;
    align-items: center;
}
.link_menu>li{
    position: relative;
    top:22px;
    list-style: none;
    background: #8D0000;
    padding:0.5em 1em;
    border-radius:1.5em ;
    color:#FFF;
    font-weight: bold;
    font-size:1em;
    height:1em;
}
.link_menu>li:hover{
    background: #000;
}
.slider_contener{
margin-top: 110px;
}
.cacher{
    width:100%;
    overflow: hidden;
}
.slide{
    display:flex;
    justify-content: center;
    gap:2em;
    animation-duration: 3s;
    animation-direction: reverse;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}
.slide>li>img{
 width:100%;
}

.espacement>h2{
    padding:1em 0;
}
.formatting{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:2em;
}
.show_article{
    display: flex;
    justify-content:center;
    gap:1em;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    width:100%;
}
.show_article_reverse{
    flex-direction: row-reverse;
}
.show_article>li{
    width:50%;
 }
.show_article>li>img{
    width:100%;
}
footer{
    background:#C88500;
    position:absolute;
    margin-top: 2em;
    display:flex;
    justify-content:space-between;
    /* justify-content:space-around; */
    align-items:center;
    width:100%;
    height:76px;
}
footer>img{
    position:absolute;
    z-index: 1;
    right:50%;
    left:50%;
    width:76px;
    height:76px;
}
footer>ul{
    width:35%;
    display:flex;
    justify-content:space-around;
    align-items:center;
}