:root {
    --primary-background-color: rgba(141, 0, 0);
    --body-background-color: rgb(199, 133, 0, 10%);
    --main-background-color: rgb(199, 133, 0, 70%);
    --primary-font-color: #FFFF;
    --secondary-font-color: #0000;

    --primary-font-family: "Crimson Text", serif;
    --secondary-font-family: "Montserrat", sans-serif;
}

body {
    box-sizing: border-box;
    background-color: var(--body-background-color);
    margin: 0px;
    height: 100%;
}

ul>li {
    list-style: none;
}

header{
    height: 100vh;
    background-image: url(../assets/background/coquilles-pates-italiennes-aux-champignons-courgettes-sauce-tomate1.jpg);
    background-repeat: no-repeat;
    background-size: 3374px 1176px;
    background-position-x: -473px;
    background-position-y: 80px;
    display: flex;
    flex-direction: column;
}


.background>img {
    position: relative;
    top: 15rem;
    left: 15rem;
    width: 27rem;
    height: auto;
    border-radius: 10px;
}

.background>h2 {
    color: white;
    position: relative;
    top: 23rem;
    left: 9rem;
    font-size: 3rem;
    max-width: 50vw;
}



.cacher {
    width: 100%;
    overflow: hidden;
}

.slide {
    display: flex;
    justify-content: center;
    gap: 2em;
    animation-duration: 3s;
    animation-direction: reverse;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}

/* .filtre.selected {
    background-color: var(--main-background-color) !important;
} */

.active{
    background-color: var(--main-background-color) !important;
}